<div style="text-align:center ;">
    <h2>Product Management</h2><hr>
  </div><br>
<div class = "container" >
    <button type="button" routerLink="prod" style="background:darkcyan; color:white; margin-left: 400px; ">Buyer</button>&nbsp;
    <button  type="button" routerLink="merchant" style="background:darkcyan; color:white; margin-left: 150px;">Merchant</button>
</div>

<!-- <ul class="nav navbar-nav">
  <li>
    <a >Home</a>
    (click)="goToIndex()" -->
  <!-- </li>
  <li>
    <a >About Us</a> -->
    <!-- (click)="goToAboutUs()" -->
  <!-- </li>
  <li>
    <a >Products</a> -->
    <!-- (click)="goToProducts()" -->
  <!-- </li>
</ul> --> 